.userstatus {
 
  display: inline-block;
  width: 120px;
   text-align: center;
  height: 20px;
}
..userstatus:after {
  display: inline-block;
  text-align: center;
}
.userstatus0:after {
  content: '-';
} 
.userstatus1:after  {
  content: 'предупреждение';
}
.userstatus2:after  {
  content: 'банить';

}
.userstatus3:after  {
  content: 'забанен';
}
.userstatus1 {
  background: yellow;
}
.userstatus2 {
  background: red;
 
}
.userstatus3 {
  color: #fff;
  background: #333;
}

.userstatus4 {
 color: #000;

}
.userstatus4:after{
 content: 'Разбан';
 
}
.counter-wrapper {
	font-size: 16px;
}
.counter-wrapper .players {
	color: green;
	font-size: 20px;
}
.counter-wrapper .max {
	font-size: 20px;
}
.counter-wrapper .bad {
	color: red;
	font-size: 20px;
}	
.online {
	background: #79e68b;
}
.online a  , .online a:hover {
	color: #fff;
}
