.userstatus {
 
  display: inline-block;
  width: 120px;
   text-align: center;
  height: 20px;
}
..userstatus:after {
  display: inline-block;
  text-align: center;
}
.userstatus0:after {
  content: '-';
} 
.userstatus1:after  {
  content: 'предупреждение';
}
.userstatus2:after  {
  content: 'банить';

}
.userstatus3:after  {
  content: 'забанен';
}
.userstatus1 {
  background: yellow;
}
.userstatus2 {
  background: red;
 
}
.userstatus3 {
  color: #fff;
  background: #333;
}

.userstatus4 {
 color: #000;

}
.userstatus4:after{
 content: 'Разбан';
 
}
.counter-wrapper {
	font-size: 16px;
}
.counter-wrapper .players {
	color: green;
	font-size: 20px;
}
.counter-wrapper .max {
	font-size: 20px;
}
.counter-wrapper .bad {
	color: red;
	font-size: 20px;
}	
.inblacklist a {
	text-decoration: underline;
}
.inblacklist a:hover {
	text-decoration: none;
}
.inblacklist,.inblacklist a,.inblacklist a:hover {
	color: #fff;
}
	
.inblacklist0, .inblacklist0 a, .inblacklist0 a:hover,.inblacklist1, .inblacklist1 a, .inblacklist1 a:hover {
	color: #000;
	background: yellow;
}
.inblacklist2 {
	background: red;
}
.inblacklist3 {
	background: #000;
}
.online {
	background: #D3EE87;
}
.online a  , .online a:hover {
	color: #333;
}
